<h1>Allo</h1>
<h5>notio altioris societatis per minimis</h5>
<br>
<h3>This is your life.</h3>
<p>This is Allo, the social network open to any and all students at The Iron Yard Academy Durham in the Fall of 2014, and maybe Clinton. Sign up <%= link_to 'here', controller: 'people' %>.</p>
<p>Then, you can list <%= link_to 'schools', controller: 'schools' %> you've attended, and notable <%= link_to 'events', controller: 'life_events' %> that have occurred to you, or you have caused.</p>
