<h1>Allo</h1>
<br>
<h3>This is your life.</h3>
<p>This is Allo, the social network open to any Person, as long as you're a student at The Iron Yard Academy Durham during Fall 2014. And maybe Clinton.</p>
<p>Allo isn't like other social networks.  In fact, it's a student project, so you don't have to worry about your information being sold to advertisers.  Ever. Probably.</p>
<h3><%= link_to 'Browse People', controller: 'people' %></h3>
<br>

<h2>Event Feed</h2>
  <% chrono_events = LifeEvent.all.sort_by { |e| e.created_at }.reverse %>
  <% chrono_events.each do |e| %>
    <li>
      <%#= Person[e.person_id].name %> Someone just
      <%#= link_to e.title, controller: 'life_event' %>
      <%= e.title %>
    </li>
  <% end %>

<h2>School Feed</h2>
  <% chrono_schools = School.all.sort_by { |e| e.created_at }.reverse %>
  <% chrono_schools.each do |s| %>
    <li>
      Someone attended <%= s.name %>
    </li>
  <% end %>
