<h1>Hello, World</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<p> <a href="http://0.0.0.0:3000/schools"> Link to Schools </a></p>
<p> <a href="http://0.0.0.0:3000/life_events"> Link to Life Events </a></p>