<h1>Welcome to Life Tracker!</h1>
<p>This is my life.  Here are some <%= link_to 'schools', controller: 'schools' %> I attended, and various and sundry <%= link_to 'events', controller: 'life_events' %> that have occurred during it.</p>

