table {
  border-collapse: collapse;
  margin: ($base-spacing / 2) 0;
  table-layout: fixed;
  width: 100%;
  color: white;
  @include background (linear-gradient(to right, #003366, #00CCFF) );


}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  font-weight: bold;
  padding: ($base-spacing / 2) 0;
  text-align: left;
  width: 130%;
  color: white;
}

td {
  border: $base-border;
  padding: ($base-spacing / 2) 0;
  color: white;
}

tr,
td,
th {
  vertical-align: middle;
}
