<a href="/schools"><h1>Schools</h1></a>
<br>
<a href="/life_events"><h1>Life Events</h1></a>
<br>
<a href="/people"><h1>People</h1></a>


<table>
  <thead>
    <tr>
      <th>Kind</th>
      <th>Title</th>
      <th>Year</th>
    </tr>
  </thead>

  <tbody>
    <% feed = Hash.new %>
    <% @people.each do |person| %>
      <% person.life_events.each do |life_events| %>
          <% feed[["Life Event:", life_events.title]] = life_events.year %>
      <% end %>
      <% person.schools.each do |schools| %>
          <% feed[["School:", schools.name]] = schools.beginning_year %>
      <% end %>
    <% end %>
    <%feed = feed.sort_by { |event, year| year } %>

    <% feed.each do |key, value| %>
      <tr>
        <td><%= key[0] %></td>
        <td><%= key[1] %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
